* text=auto

# TypeScript
*.ts text eol=lf
*.tsx text eol=lf

# Ignore in language stats
package-lock.json linguist-generated=true
node_modules/ linguist-generated=true
dist/ linguist-generated=true

# Documentation
*.md text eol=lf

# Config files
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.env text eol=lf

# Don't normalize line endings for binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.otf binary
*.fnt binary
